body {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: rgb(255, 255, 255);
  font-family: "Inter", serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}

#bmw-logo {
  width: auto;
  height: 50px;
  margin-right: 20vw;
  transition: 0.5s ease;
  cursor: pointer;
}

#bmw-logo:hover {
  transform: scale(1.1);
}

#navh {
  display: flex;
  justify-content: center;
}

#ulh {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 15px;
  border-radius: 50px;
  background-color: rgb(197, 197, 197);
  box-shadow: 0px 0px 30px darkgrey;
  color: black;
}

#ulh a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.5s ease;
  background-color: rgb(255, 255, 255);
}

#ulh a:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(52, 52, 52);
  font-size: 20px;
}

#ulh a.active {
  text-decoration: none;
  color: white;
  background-color: rgb(52, 52, 52);
  font-size: 20px;
}

video {
  width: 100vw;
  height: auto;
}

#BMWM {
  position: absolute;
  top: 130px;
  left: 30px;
  color: white;
  font-size: 3em;
  font-weight: bold;
  z-index: 1;
}

#BMWM img {
  width: 100px;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#pres {
  text-align: center;
  margin-top: 3vw;
  border-radius: 20px;
  width: 1080px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#pres:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#txt {
  font-weight: bold;
  font-size: 1.6vw;
  color: rgb(50, 50, 50);
  line-height: 1.5;
  margin: 0;
}

#divimg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 3vw;
}

#divimg {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.img2 {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 40vw;
  height: auto;
  margin: 3vw;
  border-radius: 20px;
  box-shadow: 0px 0px 30px darkgrey;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img2:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.table-container {
  width: 95%;
  max-width: 1080px;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: auto;
}

#dataTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

#dataTable thead {
  background: linear-gradient(to right, #0051ba, #76b1d0, #ff2400);
  color: #ffffff;
  font-weight: bold;
}

#dataTable tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

#dataTable tbody tr:nth-child(even) {
  background-color: #ffffff;
}

#dataTable tbody tr:hover {
  background-color: #d9e6f2;
  cursor: pointer;
}

#dataTable th,
#dataTable td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#dataTable_wrapper .dataTables_length {
  float: left;
}

#dataTable_wrapper .dataTables_filter {
  float: right;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#dataTable_wrapper .dataTables_info {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

#dataTable_wrapper .dataTables_paginate {
  margin-top: 5px;
  text-align: right;
}

#dataTable_wrapper .dataTables_paginate .paginate_button {
  background-color: #0051ba;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

#dataTable_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #ff2400;
}

#dataTable_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #ff2400;
  color: #fff;
  font-weight: bold;
}

#dataTable_wrapper .dataTables_filter input {
  width: 300px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

#dataTable_wrapper .dataTables_filter label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 1vw;
  margin-top: 4vw;
  width: 95%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#showroom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 1080px;
}

.car {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.car img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #0071c5;
}

.description {
  padding: 20px;
  text-align: center;
}

.description h2 {
  font-size: 20px;
  color: #0071c5;
  margin-bottom: 10px;
  font-weight: bold;
}

.description p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}

.description button {
  background-color: #0071c5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.description button:hover {
  background-color: #005bb5;
}

hr {
  width: 1080px;
  border: none;
  height: 2px;
  background-color: #cecece;
  margin: 20px 0;
}

#legend-title {
  font-size: 2em;
  font-weight: bold;
  color: #0071c5;
  text-align: center;
  margin-top: 20px;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.car5 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 345px;
  filter: blur(3px);
  transition: filter 0.5s ease;
}

.car5:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  filter: none;
  transition: filter 0.5s ease;
}

.car6 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 530px;
  filter: blur(3px);
  transition: filter 0.5s ease;
}

.car6:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  filter: none;
  transition: filter 0.5s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
  margin: 30px auto;
}

form label {
  font-size: 16px;
  font-weight: bold;
  color: #0071c5;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #0071c5;
}

form textarea {
  resize: vertical;
  height: 150px;
}

form input[type="submit"] {
  background-color: #0071c5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 725px;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #005bb5;
}

form .radio-group {
  display: flex;
  justify-content: flex-end;
  margin-right: 30vw;
  gap: 10px;
  width: 30%;
  margin-bottom: 20px;
}

form .radio-group label {
  font-size: 16px;
  font-weight: bold;
  color: #0071c5;
  margin-bottom: 0;
}

form .radio-group input[type="radio"] {
  margin-top: 0;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

input[type="radio"] {
  accent-color: #ff0000;
  margin-top: -6px;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#radio {
  margin-top: 10px;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading-logo {
  width: 300px;
  height: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading.hidden {
  opacity: 0;
  pointer-events: none;
}

.carx {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 900px;
  transition: 0.5s ease;
  border-radius: 20px;
}

.carx:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  scale: 1.02;
}

.M1000RR {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1080px;
  height: auto;
  font-weight: bold;
  font-size: 1.3em;
}

.son {
  background-color: #0071c5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 1080px;
}

.son:hover {
  background-color: #005bb5;
}

.vert {
  background-color: rgb(64, 228, 64);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.rouge {
  background-color: #ff2400;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  background-color: #0071c5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

input[type="file"] + label:hover {
  background-color: #005bb5;
}

#credit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 20px;
  padding: 5px;
  width: 95%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galerie-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.car {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carc {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
}

.car p {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  text-align: center;
  justify-content: center;
}

.car a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  text-align: center;
  justify-content: center;
}

.vid p {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  text-align: center;
  justify-content: center;
}

.vid a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  text-align: center;
  justify-content: center;
}

.vid {
  width: 1080px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#partenaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.partenaire {
  width: 300px;
  height: 450px;
  perspective: 1000px;
  cursor: pointer;
}

.carte {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.partenaire.flipped .carte {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.front {
  background-color: #fff;
}

.front img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-bottom: 2px solid #0071c5;
}

.description {
  padding: 10px;
  text-align: center;
}

.description h2 {
  font-size: 18px;
  color: #0071c5;
  font-weight: bold;
}

.description p {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}

.back {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e6;
  transform: rotateY(180deg);
  text-align: center;
}

.back a {
  margin: 0 auto;
  width: 85%;
  margin-top: 20%;
  text-align: center;
  margin-top: 20%;
}

.back a img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  text-align: center;
}

.back a img:hover {
  transform: scale(1.1);
}

.back h2 {
  margin-top: 40px;
  font-size: 25px;
  color: #0071c5;
  font-weight: bold;
}

.description_back {
  text-align: center;
  margin-top: 60px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  font-weight: bold;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #0071c5;
  text-align: center;
  margin-top: 20px;
}

.Documents-btn {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: #0071c5;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 58%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.98;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: #094472;
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

.modal {
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 70%;
  max-width: 500px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0s 0.4s;
}

.modal.show {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal.show {
  animation: modalFadeIn 0.4s ease-out;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close:hover {
  color: #5c52a2;
}

.modal h2 {
  font-size: 1.5em;
  color: #0071c5;
  margin-bottom: 20px;
}

.modal p {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}

.download {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 10px;
}

.download-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-wrapper,
.download-text,
.download-icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.download-text {
  top: 0;
}

.download-text,
.download-icon {
  transition: top 0.5s;
}

.download-icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-icon svg {
  width: 24px;
  height: 24px;
}

.download:hover {
  background: #6c18ff;
}

.download:hover .download-text {
  top: -100%;
}

.download:hover .download-icon {
  top: 0;
}

.download:hover::before,
.download:hover::after {
  opacity: 1;
  visibility: visible;
}

.download:hover::after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.download:hover::before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

@keyframes blackout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  15% {
    transform: translate(-5px, 5px) skew(2deg);
  }
  30% {
    transform: translate(5px, -5px) skew(-2deg);
  }
  45% {
    transform: translate(-5px, 5px) skew(3deg);
  }
  60% {
    transform: translate(5px, -5px) skew(-3deg);
  }
  75% {
    transform: translate(-2px, 2px) skew(1deg);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitchColor {
  0% {
    filter: none;
  }
  15% {
    filter: hue-rotate(50deg) contrast(2);
  }
  30% {
    filter: hue-rotate(-50deg) contrast(2);
  }
  45% {
    filter: hue-rotate(80deg) contrast(3);
  }
  60% {
    filter: hue-rotate(-80deg) contrast(3);
  }
  75% {
    filter: hue-rotate(30deg) contrast(1.5);
  }
  100% {
    filter: none;
  }
}

.glitch-effect {
  animation: glitch 0.1s infinite, glitchColor 0.1s infinite;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  animation: blackout 2s ease-in-out forwards;
}

body.glitch {
  animation: glitch 1s infinite, glitchColor 1s infinite,
    blackout 2s ease-in-out forwards;
}

body.glitch {
  animation-delay: 0.5s;
}